<div *ngIf="showContent"
  class="assortment_parent_div"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"



>
  <div   class="assortment_info" fxLayout="column"
       fxLayoutAlign="center start"
       fxLayoutGap="40px">
    <h2 > {{ (currentLanguage$ | async) === 'am' ? assortment.title.am : assortment.title.en }}</h2>
    <p> {{
      (currentLanguage$ | async) === 'am'
        ? assortment.description.am
        : assortment.description.en
      }}</p>
  </div>


  <div class="assortment_slider_div" *ngIf="isBrowser">
    <ng-image-slider
      [images]="assortmentSliderArray"
      [infinite]="false"
      [imageSize]="{ width: '100%', space: 0 }"
      #carousel
    ></ng-image-slider>
  </div>

  <div
    class="assortment_parent"
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"

    fxLayoutGap.lt-sm="0px"


  >
    <div
      class="img_cont"
      *ngFor="let imgUrl of assortment.urls; index as i"
      (click)="imagesCarousel(i)"
    >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{imgUrl.name.am}}

          {{
          (currentLanguage$ | async) === 'am'
            ? imgUrl.name.am
            : imgUrl.name.en
          }}
        </mat-card-title>
        <mat-card-subtitle>{{ imgUrl.price }} {{ imgUrl.price ? ('HOME.ASSORTMENTS.CURRENCY' | translate) : ''}}</mat-card-subtitle>
      </mat-card-header>
      <img [src]="imgUrl.url" [alt]="imgUrl.url">

    </mat-card>
    </div>

  </div>
</div>
