<div class="auth_cont" fxLayout="column" fxLayoutAlign="center center">
  <div class="verification_main">
    <div class="message_dive"></div>
    <div class="error_div">
      <span *ngIf="malformed"
        >{{ 'AUTHENTICATION.VERIFICATION.ERRORS.MALFORMED' | translate }}
        <p>
          {{
            'AUTHENTICATION.VERIFICATION.ERRORS.RESEND_CODE_TEXT' | translate
          }}
          <button mat-button color="primary" (click)="reSendEmailVerify()">
            {{ 'COMMON.CLICK_HERE' | translate }}
          </button>
        </p>
      </span>
    </div>
  </div>
</div>
