<div
  class="course_content_cont"
  fxLayout="column"
  fxLayoutGap="30px"
  fxLayoutAlign="center start"
>
  <h1>{{ 'COURSES.COURSE_CONTENT.WHAT_INCLUDE_COURSE' | translate }}</h1>

  <div class="video_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#video"></use>
      </svg>
    </div>

    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.VIDEO_TITLE' | translate }}
      </div>
      <div class="course_content_text">
        {{ 'COURSES.COURSE_CONTENT.VIDEO_TEXT' | translate }}
      </div>
    </div>
  </div>
  <div class="method_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#method"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.RECIPE_TITLE' | translate }}
      </div>
      <div class="course_content_text">
        {{ 'COURSES.COURSE_CONTENT.RECIPE_TEXT' | translate }}
      </div>
    </div>
  </div>

  <div class="fillings_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#fillings"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.FILLINGS_TITLE' | translate }}
      </div>
      <div class="course_content_text">
        {{ 'COURSES.COURSE_CONTENT.FILLINGS_TEXT' | translate }}
      </div>
    </div>
  </div>
  <div class="cuttings_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg class="heart">
        <use href="../../../../assets/img/sprite/sprite.svg#cuttings"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.CUTTINGS_TITLE' | translate }}
      </div>
      <div class="course_content_text">
        {{ 'COURSES.COURSE_CONTENT.CUTTINGS_TEXT' | translate }}
      </div>
    </div>
  </div>
  <div class="feedback_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#feedback"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.FEEDBACK_TITLE' | translate }}
      </div>
      <div class="course_content_text">
        {{ 'COURSES.COURSE_CONTENT.FEEDBACK_TEXT' | translate }}
      </div>
    </div>
  </div>
  <div class="unlimited_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#unlimited"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.UNLIMITED_TITLE' | translate }}
      </div>
      <div class="course_content_text">
        {{ 'COURSES.COURSE_CONTENT.UNLIMITED_TEXT' | translate }}
      </div>
    </div>
  </div>

  <div class="draw_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#camera"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.DRAW_PRESENT_TITLE' | translate }}
      </div>
      <div class="course_content_text">
        {{ 'COURSES.COURSE_CONTENT.DRAW_PRESENT_TEXT' | translate }}
      </div>
    </div>
  </div>

  <div class="bonus_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#bonus"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.BONUS_RECIPE_TITLE' | translate }}
      </div>
      <div class="course_content_text">
        {{ 'COURSES.COURSE_CONTENT.BONUS_RECIPE_TEXT' | translate }}
      </div>
    </div>
  </div>
</div>
