<div class="course_content_cont" fxLayout="column" fxLayoutGap="30px">
  <h1>what is in course</h1>
  <div class="video_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div"><fa-icon icon="film"></fa-icon></div>
    <div fxLayout="column">
      <div class="course_content_title">Video</div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
  <div class="method_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div"><fa-icon icon="wrench"></fa-icon></div>
    <div fxLayout="column">
      <div class="course_content_title">Video</div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totamss.
      </div>
    </div>
  </div>

  <div class="fillings_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div"><fa-icon icon="pepper-hot"></fa-icon></div>
    <div fxLayout="column">
      <div class="course_content_title">Video</div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
  <div class="cuttings_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div"><fa-icon icon="snowman"></fa-icon></div>
    <div fxLayout="column">
      <div class="course_content_title">Video</div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
  <div class="feedback_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div"><fa-icon icon="comment"></fa-icon></div>
    <div fxLayout="column">
      <div class="course_content_title">Video</div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
  <div class="unlimited_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div"><fa-icon icon="infinity"></fa-icon></div>
    <div fxLayout="column">
      <div class="course_content_title">Video</div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
</div>
