<div class="course_content_cont" fxLayout="column" fxLayoutGap="30px">
  <h1>{{ 'COURSES.COURSE_CONTENT.WHAT_INCLUDE_COURSE' | translate }}</h1>

  <div class="video_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#video"></use>
      </svg>
    </div>

    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.VIDEO' | translate }}
      </div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
  <div class="method_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#method"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.RECIPE' | translate }}
      </div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totamss.
      </div>
    </div>
  </div>

  <div class="fillings_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#fillings"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.FILLINGS' | translate }}
      </div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.ff
      </div>
    </div>
  </div>
  <div class="cuttings_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg class="heart">
        <use href="../../../../assets/img/sprite/sprite.svg#cuttings"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.CUTTINGS' | translate }}
      </div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
  <div class="feedback_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#feedback"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.FEEDBACK' | translate }}
      </div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
  <div class="unlimited_content" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg>
        <use href="../../../../assets/img/sprite/sprite.svg#unlimited"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="course_content_title">
        {{ 'COURSES.COURSE_CONTENT.UNLIMITED' | translate }}
      </div>
      <div class="course_content_text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium,
        totam.
      </div>
    </div>
  </div>
</div>
