@import '../../../../variable';

.course_content_cont {
  padding: 30px;
  @include for-size(lt-md) {
    padding: 30px;
  }
  h1 {
    width: 100%;
    text-align: center;
    margin: 90px 0 !important;
    font-size: 42px;
  }
  .icon_div {
    margin-right: 30px;

    svg {
      width: 50px;
      height: 50px;
    }
  }
  .course_content_title {
    font-size: 22px;
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 14px;
  }
  .course_content_text {
    font-size: 20px;
    line-height: 1.35;
    font-weight: 300;
  }
}
