@import '../../../../variable';

.sing_in_main {
  background-color: white;
  padding: 30px;
  @include card_shadow;
  width: 320px;
  .sing_in_main_form_div {
    .error_div {
      color: $main_error_color;
      min-height: 50px;
      text-align: center;
      width: 100%;
      span {
        width: 100%;
      }
    }
    input {
      @include default_inputs;
    }
    button {
      @include standard-button;
      width: 100%;
    }
  }
  .helper_text {
    text-align: center;
    span {
      color: $main_gold_color;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
