@import '../../../variable';

header {
  .sidenav-container {
  }

  .sidenav {
    width: 200px;
  }

  ::ng-deep .mat-drawer-transition .mat-drawer-backdrop {
    position: fixed;
  }

  mat-toolbar {
    padding: 5px;
    height: 100%;
    background-color: white;
    .logo_part {
      font-size: 16px;
      fa-icon {
        color: $main_gold_color;
      }
    }

    .links_part {
      font-size: 21px;
      color: $main_gold_color;
      .language_part {
        cursor: pointer;
        text-transform: capitalize;

        fa-icon {
          margin-left: 5px;
          margin-top: 4px;
          font-size: 16px;
        }
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  min-width: auto !important;
  min-height: auto !important;
  color: $main_gold_color;
  .mat-menu-content:not(:empty) {
    padding: 0 !important;

    .language_list_div {
      padding: 7px;
      cursor: pointer;

      img {
        width: 25px;
        margin-right: 10px;
      }

      .lang_text {
        text-transform: capitalize;
      }
    }
  }
}
