<div class="easy_to_earn_cont" fxLayout="column" fxLayoutAlign="center start">
  <h1>{{ 'COURSES.EASY_TO_EARN.WHY_CHOOSE_PASTA' | translate }}</h1>
  <div class="easy_to_earn" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg class="heart">
        <use href="../../../../assets/img/sprite/sprite.svg#macaron"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="easy_to_earn_title">
        {{ 'COURSES.EASY_TO_EARN.EASY_TO_PRODUCE_TITLE' | translate }}
      </div>
      <div class="easy_to_earn_text">
        {{ 'COURSES.EASY_TO_EARN.EASY_TO_PRODUCE' | translate }}
      </div>
    </div>
  </div>
  <div class="easy_to_earn" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg class="heart">
        <use href="../../../../assets/img/sprite/sprite.svg#macaron"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="easy_to_earn_title">
        {{ 'COURSES.EASY_TO_EARN.EASY_TO_KEEP_TITLE' | translate }}
      </div>
      <div class="easy_to_earn_text">
        {{ 'COURSES.EASY_TO_EARN.EASY_TO_KEEP' | translate }}
      </div>
    </div>
  </div>
  <div class="easy_to_earn" fxLayout="row" fxLayoutAlign="center center">
    <div class="icon_div">
      <svg class="heart">
        <use href="../../../../assets/img/sprite/sprite.svg#macaron"></use>
      </svg>
    </div>
    <div fxLayout="column">
      <div class="easy_to_earn_title">
        {{ 'COURSES.EASY_TO_EARN.POSSIBILITY_TO_EARN_TITLE' | translate }}
      </div>
      <div class="easy_to_earn_text">
        {{ 'COURSES.EASY_TO_EARN.POSSIBILITY_TO_EARN' | translate }}
      </div>
    </div>
  </div>
</div>
