<div class="easy_to_earn_cont">
  <h1>ПОЧЕМУ НА МАКАРОН ЛЕГКО ЗАРАБАТЫВАТЬ?</h1>
  <div
    class="easy_to_earn_content"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div class="icon_div">
      <img
        src="../../../../assets/img/courses/easy-to-earn/check.svg"
        alt="jungle sweets earn"
      />
    </div>
    <div fxLayout="column">
      <div class="easy_to_earn_title">Легко индивидуализировать</div>
      <div class="easy_to_earn_text">
        Окрашивать под оформление праздника клиента, выпекать фигурные макарон в
        тематике праздника, упаковывать в виде бонбоньерок на свадьбу, наносить
        пищевую печать или рисунок пищевым маркером. Индивидуальные заказы более
        прибыльные
      </div>
    </div>
  </div>
  <div
    class="easy_to_earn_content"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div class="icon_div">
      <img
        src="./assets/img/courses/easy-to-earn/check.svg"
        alt="jungle sweets earn"
      />
    </div>
    <div fxLayout="column">
      <div class="easy_to_earn_title">Легко индивидуализировать</div>
      <div class="easy_to_earn_text">
        Окрашивать под оформление праздника клиента, выпекать фигурные макарон в
        тематике праздника, упаковывать в виде бонбоньерок на свадьбу, наносить
        пищевую печать или рисунок пищевым маркером. Индивидуальные заказы более
        прибыльные
      </div>
    </div>
  </div>
  <div
    class="easy_to_earn_content"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div class="icon_div">
      <img
        src="../../../../assets/img/courses/easy-to-earn/check.svg"
        alt="jungle sweets earn"
      />
    </div>
    <div fxLayout="column">
      <div class="easy_to_earn_title">Легко индивидуализировать</div>
      <div class="easy_to_earn_text">
        Окрашивать под оформление праздника клиента, выпекать фигурные макарон в
        тематике праздника, упаковывать в виде бонбоньерок на свадьбу, наносить
        пищевую печать или рисунок пищевым маркером. Индивидуальные заказы более
        прибыльные
      </div>
    </div>
  </div>
</div>
