<div class="menu_side">
  <div class="select_lang_div" (click)="openLanguageList()">
    {{ 'HEADER.LANGUAGE_SHOW' | translate }}
    <span>
      <fa-icon icon="angle-down" *ngIf="!showLanguageList"></fa-icon>
      <fa-icon icon="angle-up" *ngIf="showLanguageList"></fa-icon>
    </span>

    <div
      class="language_list"
      fxLayout="column"
      fxLayoutGap="5px"
      *ngIf="showLanguageList"
    >
      <div
        class="lang_curr_div"
        [ngClass]="{ selected_language: lang.selected }"
        *ngFor="let lang of languageList"
      >
        <span
          [title]="lang.name"
          (click)="changeLanguage(lang.name)"
          fxLayout="row"
          fxLayoutAlign="start center "
        >
          <span class="lang_text">{{ lang.showName }}</span>
        </span>
      </div>
    </div>
  </div>

  <div
    class="courses"
    (click)="navigateByUrl('/courses')"
    *ngIf="!(isLoggedIn$ | async)"
  >
    {{ 'HEADER.COURSES' | translate }}
  </div>
  <div
    class="sign_in"
    (click)="navigateByUrl('/authentication')"
    *ngIf="!(isLoggedIn$ | async)"
  >
    {{ 'COMMON.SIGN_IN' | translate }}
  </div>

  <div
    class="login_part"
    (click)="navigateByUrl('/master-class')"
    *ngIf="isLoggedIn$ | async"
  >
    {{ 'MASTER_CLASS.MASTER_CLASS_TITLE' | translate }}
  </div>
  <div class="login_part" (click)="signOut()" *ngIf="isLoggedIn$ | async">
    {{ 'COMMON.SIGN_OUT' | translate }}
  </div>
</div>
