<div
  class="who_is_for_cont"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <h1>for who is</h1>
  <div
    class="who_is_column"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between center"
  >
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
      <div class="who_is_image"></div>
      <div class="who_is_title">Начинающим кондитерам</div>
      <div class="who_is_text">
        Только начинаете свой путь и не знаете, чем привлечь клиента? Макарон не
        теряют свою популярность и пользуются спросом в любое время
      </div>
    </div>
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
      <div class="who_is_image"></div>
      <div class="who_is_title">Начинающим кондитерам</div>
      <div class="who_is_text">
        Только начинаете свой путь и не знаете, чем привлечь клиента? Макарон не
        теряют свою популярность и пользуются спросом в любое время
      </div>
    </div>
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
      <div class="who_is_image"></div>
      <div class="who_is_title">Начинающим кондитерам</div>
      <div class="who_is_text">
        Только начинаете свой путь и не знаете, чем привлечь клиента? Макарон не
        теряют свою популярность и пользуются спросом в любое время
      </div>
    </div>
  </div>
</div>
