<div
  class="who_is_for_cont"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="who_is_image"></div>
    <div class="who_is_title"></div>
    <div class="who_is_text"></div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="who_is_image"></div>
    <div class="who_is_title"></div>
    <div class="who_is_text"></div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="who_is_image"></div>
    <div class="who_is_title"></div>
    <div class="who_is_text"></div>
  </div>
</div>
