<div
  class="who_is_for_cont"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <h1>{{ 'COURSES.WHO_IS_FOR.FOR_WHO_IS_COURSE' | translate }}</h1>
  <div
    class="who_is_column"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="space-between start"
  >
    <div class="column" fxLayout="column" fxLayoutAlign="start center">
      <div class="who_is_image beginner"></div>
      <div class="who_is_title">
        {{ 'COURSES.WHO_IS_FOR.FOR_WHO_IS_COURSE_BEGINNER_TITLE' | translate }}
      </div>
      <div class="who_is_text">
        {{ 'COURSES.WHO_IS_FOR.FOR_WHO_IS_COURSE_BEGINNER_TEXT' | translate }}
      </div>
    </div>
    <div class="column" fxLayout="column" fxLayoutAlign="start center">
      <div class="who_is_image professional"></div>
      <div class="who_is_title">
        {{
          'COURSES.WHO_IS_FOR.FOR_WHO_IS_COURSE_PROFESSIONAL_TITLE' | translate
        }}
      </div>
      <div class="who_is_text">
        {{
          'COURSES.WHO_IS_FOR.FOR_WHO_IS_COURSE_PROFESSIONAL_TEXT' | translate
        }}
      </div>
    </div>
    <div class="column" fxLayout="column" fxLayoutAlign="start center">
      <div class="who_is_image middle"></div>
      <div class="who_is_title">
        {{ 'COURSES.WHO_IS_FOR.FOR_WHO_IS_COURSE_MIDDLE_TITLE' | translate }}
      </div>
      <div class="who_is_text">
        {{ 'COURSES.WHO_IS_FOR.FOR_WHO_IS_COURSE_MIDDLE_TEXT' | translate }}
      </div>
    </div>
  </div>
</div>
