@import '../../../../variable';
.master_class_cont {
  width: 1280px;
  background-color: white;
  margin: auto;

  @include for-size(lgm) {
    width: 1200px;
  }
  @include for-size(md) {
    width: 900px;
  }
  @include for-size(sm) {
    width: 600px;
  }
  @include for-size(lt-sm) {
    width: 100%;
  }
  @include card_shadow;

  .sale_admin {
    @include card_shadow;
    background-image: url('../../../../assets/img/master-class/IMG_6644.JPG');
    padding: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    .sale_input_div {
      padding: 10px;
      input {
        @include default_inputs;
        margin: 0;
      }
      button {
        width: 200px;
      }
    }
  }
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td,
  th {
    width: 25%;
  }
}
