<div class="about_me_cont">
  <div class="about_me">
    <h1>About me</h1>
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
    <mat-form-field class="am_desc" fxFlex="40" fxFlex.xs="100">
      <mat-label>About me in Armenian</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        [(ngModel)]="aboutMe?.aboutme.am"
        rows="5"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="am_desc" fxFlex="40" fxFlex.xs="100">
      <mat-label>About me in English</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        [(ngModel)]="aboutMe?.aboutme.en"
        rows="5"
      ></textarea>
    </mat-form-field>
  </div>

  <label for="aboutMeImg" class="typeFileLabel">
    click on sheep to chose new img
    <img src="../../../../assets/img/admin/chose-file.gif" alt="chose about me image" />
  </label>
  <input
    type="file"
    id="aboutMeImg"
    (change)="uploadAboutMeImage($event)"
  />
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div class="slider_images" *ngIf="aboutMe?.url !== ''">
      <img [src]="aboutMe?.url" alt="About me image" />
      <fa-icon
        icon="times-circle"
        (click)="deleteAboutMeImage(aboutMe?.url)"
      ></fa-icon>
    </div>
  </div>
  <button mat-raised-button color="accent" (click) = "saveAboutMe(aboutMe?.id)">Save about me</button>
  </div>
</div>
