@import '../../../../variable';
.courses_about_product {
  width: 100%;
  background-image: url('../../../../assets/img/courses/about/DC83B505-C4F1-41AF-9ACD-C5A3466B4B42.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  @include for-size(lt-sm) {
    background-size: cover;
  }

  .courses_about_text {
    .macaron_virtual {
      font-weight: 400;
      font-style: normal;
      font-size: 42px;
      letter-spacing: 1px;
      text-transform: none;
      line-height: 1.5em;
      color: #fff;
    }
    .macaron_master_class {
      font-weight: 400;
      font-style: normal;
      font-size: 93px;
      letter-spacing: 4px;
      text-transform: uppercase;
      line-height: 1em;
      color: #fff;
      text-align: center;
      margin: 20px 0 50px 0;
      @include for-size(sm) {
        font-size: 75px;
      }
      @include for-size(lt-sm) {
        font-size: 45px;
      }
    }
    .buy_now_button {
      @include standard-button;
    }
  }
}
