<ng-image-slider
  [images]="imageObject"
  [infinite]="true"
  [autoSlide]="4"
  [animationSpeed]="2.2"
  [imageSize]="{ width: '100%', height: '900px', space: 3 }"
  #nav
></ng-image-slider>

<div
  class="category_square_container"
  fxLayout="row wrap"
  fxLayout.lt-md="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap.lt-md="100px"
>
  <div class="category_square_women">
    <div class="title_div">Women</div>
  </div>
  <div class="category_square_kids">
    <div class="title_div">kids</div>
  </div>
  <div class="category_square_men">
    <div class="title_div">men</div>
  </div>
</div>
