@import '../../../variable.scss';
.master_class_main_container {
  background-color: white;
  margin: auto;
  min-height: calc(100vh - 371px);
  padding: 30px 0;
  width: 1280px;
  @include for-size(lgm) {
    width: 1200px;
  }
  @include for-size(md) {
    width: 900px;
  }
  @include for-size(sm) {
    width: 600px;
  }
  @include for-size(lt-sm) {
    width: 100%;
  }
  .hello_user {
    width: 100%;
    text-align: center;
    color: $main_gold_color;
  }
  .master_class_back {
    background-image: url('../../../assets/img/master-class/6BDAB65D-8167-4EA8-9D22-C2EED6E31F49.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
  }
  .email_verify {
    text-align: center;
    padding: 50px;
    color: $main_gold_color;
  }
  .is_not_purchased {
    padding: 30px;
    color: $main_gold_color;
    .transfers_methods {
      margin: 50px 0;
      @include card_shadow;
      padding: 10px;
      border-radius: 6px;
    }
    .numbers {
      font-size: 30px;
      padding-left: 50px;
      font-weight: bold;
    }
  }
  .master_class_content {
    padding: 30px 0;
    h1 {
      text-align: center;
      margin-bottom: 50px;
    }
    .video_parent_div {
      text-align: center;
      video {
        width: 520px;
        height: 440px;
        box-shadow: 0px 2px 1px -1px $main_gold_color,
          0px 1px 1px 0px $main_gold_color, 0px 1px 3px 0px $main_gold_color;
        @include for-size(lt-sm) {
          width: 80%;
        }
      }
    }
    .pdf_links_part {
      padding: 150px 0;
      ul {
        li {
          text-align: center;
          width: 70%;
          height: 200px;
          @include for-size(lt-sm) {
            height: auto;
          }
          .color_div {
            background: #f0f0f0
              linear-gradient(to top, #f0f0f0 5%, #e0b462 100%);
            height: 100%;
            flex: 1 1 100%;
            color: white;
            @include for-size(lt-sm) {
              width: 100%;
              flex: unset;
              height: 200px;
            }
            a {
              @include standard-button;

              @include for-size(lt-sm) {
                font-size: 30px;
              }
            }
          }
          .picture_div {
            background-size: cover;
            background-repeat: no-repeat;
            height: 200px;
            width: 270px;
            @include for-size(lt-sm) {
              width: 100%;
              height: 270px;
              background-size: 100% 100%;
            }
          }

          .master_class_receipt {
            background-image: url('../../../assets/img/master-class/reciept.jpeg');
          }
          .master_class_filings {
            background-image: url('../../../assets/img/master-class/nuclears.jpeg');
          }
          .master_class_trafaret {
            background-image: url('../../../assets/img/master-class/trafaret.jpeg');
          }
          .master_class_hand_mixer {
            background-image: url('../../../assets/img/master-class/hand-mixer.jpeg');
          }
          .master_class_make_photo {
            background-image: url('../../../assets/img/master-class/camera.jpeg');
          }
          .master_class_bonus {
            background-image: url('../../../assets/img/master-class/bonus.jpeg');
          }
        }
      }
    }
  }
}
