@import '../../../../variable.scss';

.assortment_container {
  width: 1280px;
  margin: auto;
  padding: 40px 0;
  @include for-size(lt-lg) {
    width: 100%;
  }
  .assortment_parent_div {
    width: 392px;

    .assortment_img_div {
      width: 100%;
      height: 300px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        &:hover {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }
    .assortment_name {
      margin-top: 34px;
      h4 {
        font-size: 24px;
        letter-spacing: 0.07em;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .assortment_description {
      p {
        text-align: center;
        font-family: Cormorant-italic;
      }
    }
    .assortment_read_more {
      position: relative;
      text-align: center;
      color: #c19d56;
      cursor: pointer;
      display: inline-block;
      margin: 14px auto;
      span {
        display: inline-block;
        letter-spacing: 0.19em;
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        font-style: normal;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 47%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: width 0.3s ease;
        -moz-transition: width 0.3s ease;
        transition: width 0.3s ease;
        height: 1px;
        width: 30px;
        background-color: currentColor;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
}
