
<div class="assortment_cont">
  <!--  Assortment add edit part-->
<div class="add_new_assortment_cont" #formDiv>
  <h1>Add new assortment</h1>
  <div class="add_new_assortment">
    <div class="assortment_title">
      <mat-form-field class="am_title">
        <mat-label>Title Armenian </mat-label>
        <input matInput type="text" [(ngModel)]="amTitle" />

        <button
          mat-button
          *ngIf="amTitle"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="amTitle = ''"
        >
          <fa-icon icon="times-circle"></fa-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="en_title">
        <mat-label>Title English </mat-label>
        <input matInput type="text" [(ngModel)]="enTitle" />

        <button
          mat-button
          *ngIf="enTitle"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="enTitle = ''"
        >
          <fa-icon icon="times-circle"></fa-icon>
        </button>
      </mat-form-field>
    </div>

    <div
      class="assortment_desc"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <mat-form-field class="am_desc">
        <mat-label>Description in Armenian</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          [(ngModel)]="amDescription"
          rows="5"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="en_desc">
        <mat-label>Description in English</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          [(ngModel)]="enDescription"
          rows="5"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="price">
      <mat-form-field class="am_title">
        <mat-label>Price in AMD </mat-label>
        <input matInput type="text" [(ngModel)]="price" />

        <button
          mat-button
          *ngIf="amTitle"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="amTitle = ''"
        >
          <fa-icon icon="times-circle"></fa-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="upload_assortment_img">
      <label for="assortmentImg" class="typeFileLabel">
        click on sheep to chose new img
        <img src="../../../../assets/img/admin/chose-file.gif" alt="" />
      </label>
      <input
        type="file"
        id="assortmentImg"
        [multiple]="true"
        [(ngModel)]="assortmentUploadInput"
        (change)="uploadAssortmentFiles($event, 'assortment-img')"
      />

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center"
             class="delete_assortment_image_div"
             *ngFor="let item of assortmentsImages; index as i"
        >
          <mat-form-field>
            <mat-label>Assortment Armenian name</mat-label>
            <input matInput type="text" name="inputArm{{i}}" [(ngModel)]="assortmentsImages[i].name.am" >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Assortment English name</mat-label>
            <input matInput type="text" name="inputEn{{i}}" [(ngModel)]="assortmentsImages[i].name.en" >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Assortment price</mat-label>
            <input matInput type="number" name="inputPrice{{i}}" [(ngModel)]="assortmentsImages[i].price">
          </mat-form-field>
          <div class="images_div">

            <img [src]="item.url" alt="" />
            <fa-icon
              icon="times-circle"
              (click)="deleteAssortmentImage(i, item.url)"
            ></fa-icon>
            <input
              type="checkbox"
              [checked]="item.main"
              (change)="makeMainImage(i)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    *ngIf="idForUpdate === null"
    class="add_new_assortment_button"
    mat-raised-button
    color="primary"
    (click)="addNewAssortmentFunc()"

  >
      Add new assortment
    <mat-spinner color="accent"  *ngIf="isLoading" ></mat-spinner>
  </button>
  <button
    *ngIf="idForUpdate !== null"
    class="add_new_assortment_button"
    mat-raised-button
    color="primary"
    (click)="addNewAssortmentFunc()"
  >
    Update assortment
    <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
  </button>
</div>
<!--  Assortment  show part-->

<div class="assortment_show_part_cont">
  <h1>Existing assortment</h1>
  <div class="assortment_show_div" *ngFor="let item of assortments">
    <button
      mat-raised-button
      color="accent"
      (click)="editAssortment(item, formDiv)"
    >
      Edit
    </button>
    <h3>Title Armenian</h3>
    <p>{{ item.title.am }}</p>
    <h3>Title English</h3>
    <p>{{ item.title.en }}</p>
    <h3>Description Armenian</h3>
    <p>{{ item.description.am }}</p>
    <h3>Description English</h3>
    <p>{{ item.description.en }}</p>
    <h3>price</h3>
    <p>{{ item.price }}</p>
    <h3>puctures</h3>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div
        class="assortment_show_image_div"
        *ngFor="let itemInitem of item.urls; index as i"
      >
      <mat-card class="example-card">
        <mat-card-header>
          <input
            *ngIf="itemInitem.main"
            type="checkbox"
            [checked]="itemInitem.main"
          />
          <mat-card-title>{{itemInitem.name.am}}</mat-card-title>
          <mat-card-title>{{itemInitem.name.en}}</mat-card-title>
          <mat-card-subtitle>{{itemInitem.price}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="itemInitem.url" alt="picture">
<!--        -->
<!--        <mat-card-actions>-->
<!--          <button mat-button>LIKE</button>-->
<!--          <button mat-button>SHARE</button>-->
<!--        </mat-card-actions>-->
      </mat-card>
    </div>
    </div>

  </div>
</div>
</div>
