<p>payment works!</p>

<a target="_blank" href="https://www.skrill.com/en/business/integration/">
  <img
    alt="VISA by Skrill"
    src="https://www.skrill.com/fileadmin/content/images/brand_centre/Payment_Options_by_Skrill_horizontal/Payment_options_VISA_by_Skrill.png"
    width="250"
    height="80"
  />
</a>

<form action="https://pay.skrill.com" method="post" target="_blank">
  <input type="hidden" name="pay_to_email" value="demoqco@sun-fish.com" />
  <input
    type="hidden"
    name="status_url"
    value="https://example.com/
process_payment.cgi"
  />
  <input type="hidden" name="language" value="EN" />
  <input type="hidden" name="amount" value="300" />
  <input type="hidden" name="currency" value="USD" />
  <input
    type="hidden"
    name="detail1_description"
    value="Macaroni coursi arjeq:"
  />
  <input
    type="hidden"
    name="detail1_text"
    value="Romeo and Juliet (W.
Shakespeare)"
  />
  <input type="submit" value="Pay!" />
</form>
